Checks: >
  -*,
  bugprone-*,
  clang-diagnostic-*,
  misc-*,
  performance-*,
  readability-redundant-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-bool-conversion

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

ExtraArgs:
  - '-ffreestanding'
  - '-std=c99'
